[Unit]
Description=Runs the evincer site from the aspnetvnext docker.

[Service]
# assume 192.168.1.1 is your proxy server, don't use 127.0.0.1
Type=simple
ExecStart=
ExecStart=/usr/bin/docker run -itp 80:5000 --rm --name evincer -v /home/srokadia/dev/appature/evincer/trunk/:/var/aspnet rokadias/aspnetvnext

[Install]
Alias=evincer.service
