[Unit]
Description=Runs the nexxusblog site from the nodejs docker.
Requires=skydock.service

[Service]
# assume 192.168.1.1 is your proxy server, don't use 127.0.0.1
Type=simple
ExecStart=
ExecStart=/usr/bin/docker run -ip 81:80 --rm --name nexxusblog -v /home/srokadia/appature-devops/seattledevblog/data:/blog/data:ro nexxusblog

[Install]
Alias=nexxusblog.service
