[Unit]
Description=Runs a mysql instance for trunk from the percona image.
Requires=skydock.service

[Service]
# assume 192.168.1.1 is your proxy server, don't use 127.0.0.1
Type=simple
ExecStart=
ExecStart=/usr/bin/docker run --rm -ip 3306:3306 --volumes-from=trunk-data --name trunk-mysql percona-dev

[Install]
Alias=trunk-mysql.service
